<html>
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css')}}"
</head>

<body>

  <h1> Edit {{ item.name }} in {{ restaurant.name }} </h1>

  <form action = "{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id = item.id) }}", method = 'post'>
    <p> Edit: </p>
    <input type = 'text' size = '30' name = 'name' placeholder = "{{item.name}}">

    <p> Description: </p>
    <input type = 'text' size = '30' name = 'description' placeholder="{{item.description}}">

    <p> Price: </p>
    <input type = 'text' size = '5' name = 'price' placeholder="{{item.price}}">

    <p>

    <input type = 'submit' value = 'Edit'>
    <a href = '{{url_for('showMenu', restaurant_id = restaurant.id)}}'> Cancel </a>
  </form>

</body>

</html>
